{% extends 'base.html' %}

{% block content %}
    <form action="/search" class="search">
        <input type="input" name="query" class="search__input" autocomplete="off" autofocus>
        <button class="search__button">Search Person</button>
    </form>

    <footer class="page-footer">
        <a href="/message">Message The Machine</a>
        <a href="/unsubscribe" class="unsubscribe-link">Unsubscribe</a>
    </footer>

    <script src="/static/javascripts/main.js"></script>
{% endblock %}
