{% extends 'base.html' %}

{% block title %}{{ person.name }}{% endblock %}

{% block content %}
    <div class="person">
        <h1 class="person__header">Target Data</h1>

        <figure class="person__image">
            <img src="{{ person.image }}" alt="{{ person.name }}">
        </figure>

        <div class="field">
            <p class="field__label">Name</p>
            <p class="field__value">{{ person.name }}</p>
        </div>
        <div class="field">
            <p class="field__label">Address</p>
            <p class="field__value">{{ person.address }}</p>
        </div>
        <div class="field">
            <p class="field__label">Birthdate</p>
            <p class="field__value">{{ person.birthdate }}</p>
        </div>

        <div class="page-footer">
            <a href="/">Search Person</a>
            <a href="/message">Message The Machine</a>
        </div>

        <script src="/static/javascripts/main.js"></script>
    </div>
{% endblock %}
